/* Common Styles */
*{
margin: 0;
}
.button-primary{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #FD6E0A;
  color: #ffff;
  font-weight: 600px;
  font-size: 20px;
  border: 0;
  padding: 20px 25px;
}

/* Header Style */
.header{
  background-image: url(../images/banner/banner.png);
  wight: 100%;
  height: 470px;
  background-repeat: no-repeat;
  text-align: right;
  padding: 150px 150px 0 700px;
}
.header-title{
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  margin-bottom: 24px;
}
.header-description{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
/* Main Section Styles */

/* About Section Title */
.about{
  margin: 100px 230px 0;
  background: #f3ab8c;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-section-title{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}
.about-section-description{
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.about .info-title{
  font-size: 20px;
  color: #757575;
}
.about.info-description{
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* Failure Section Styles */
  .failure-section{
    display: flex;
    justify-content: space-between;
    gap: 90px;

  }
.failure-section img{
  margin-top: 100px;
  margin-left: 170px;
  height: 500px;
  }
  .failure-text{
    margin-right: 320px;
  }
.failure-title{
  margin: 250px 0 24px 0;
  font-weight: 700;
  font-size: 40px;
}
.failure-description{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
  color: #444343;
}
.failure-point{
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.failure-section i{
  color: green;
}
/* Plan Section Style */
.plan-section-title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.plan-section{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 86px;
  margin: 0 330px;
}
.plan-image{
  height: 50px;
}
.plan-title{
  font-weight: 700;
  font-size: 20px;
}
.plan-description{
  font-weight: 500;
  font-size: 15px;
  color: #737272;
}

/* Mindset Styles */
.mindset{
  margin: 100px 230px 0;
  border: 0;
  border-radius: 5px;
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  margin-bottom: 100px;
}
.mindset-title{
  font-weight: 700;
  font-size: 40px;
  margin: 50px 400px 24px 32px;
  color: #FFFF;
  font-weight: 700;
  font-size: 40px;
}
.mindset-button{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #FFFF;
  color: #FD6E0A;
  font-weight: 600px;
  font-size: 20px;
  border: 0;
  padding: 15px 20px;
  margin-left: 32px;
}
.mindset-overlay{
  background: url(../images/gradient2.png);
  height: 200px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* Footer Styles */
.footer{
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}
.footer-text{
  margin: 130px 650px 130px 150px;
}
.footer-text-title{
  font-weight: 700;
  font-size: 40px;
  color: #FFFF;
  margin-bottom: 16px;
}
.footer-text-description{
  font-weight: 400;
  font-size: 16px;
  color: #FFFF;
  margin-bottom: 16px;
}
.footer-newsletter-title{
  color: #FFFF;
  font-weight: 600;
font-size: 25px;
  margin: 130px 250px 20px 0;
}
.footer-email{
  width: 170px;
  height: 32px;
  background-color: transparent;
  color: #FFFF;
  margin-bottom: 16px;
}
.footer-email-button{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #FFFF;
  color: #FD6E0A;
  font-weight: 600px;
  font-size: 20px;
  border: 0;
  padding: 15px 20px;
}